[Unit]
Description=Tiket Portal

[Service]
ExecStart=/root/go/src/ticket-portal/portal
WorkingDirectory=/root/go/src/ticket-portal
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target
