<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Welcome</h1>
{{if .Un}}
<h3>You're logged in as: {{.Un}}</h3>
<br>
<a href="/logout">logout</a>
{{else}}
<a href="/login"><strong>login</strong></a><br>
or
<a href="/signup"><strong>signup</strong></a>
{{end}}

</body>
</html>